.button_up {
      color:#9C9999;
}

.button_down {
      color:#9C9999;
}

.subutton_up {
      color:#9C9999;
}

.subutton_down {
      color:#9C9999;
}

.twosubutton_up {
      color:#9C9999;
}

.twosubutton_down {
      color:#9C9999;
}


.thumbs_up{
    color:#000000;
}
.thumbs_up2{
    color:#000000;
}
.thumbs_up3{
    color:#000000;
}

.thumbs_down{
    color:#000000;
}
.thumbs_down2{
    color:#000000;
}
.thumbs_down3{
    color:#000000;
}

