{% extends "entries/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
       {% csrf_token %}
       {{ form|crispy}}
       <input class="btn btn-default" type="submit" value="login" />
       <input type="hidden" name="next" value="{{ next }}" />
   </form>

{% endblock %}

{% block entryList %}

   <div class="list-group">

   {% for entry in all_entries %}

      <a href="{% url "entry_detail" pk=entry.pk %}" class="list-group-item">{{ entry.title }}</a>
    
    {% endfor %}

    </div>

{% endblock %}