{% extends "entries/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

        {% if registered %}

        <a href="/">Return to the homepage.</a><br />
        {% else %}
        <form id="form" method="post" action="/new_entry/">{% csrf_token %}
            {{ form|crispy }}
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        </form>
        {% endif %}

{% endblock %}

{% block entryList %}

   <div class="list-group">

   {% for entry in all_entries %}

      <a href="{% url "entry_detail" pk=entry.pk %}" class="list-group-item">{{ entry.title }}</a>
    
    {% endfor %}

    </div>

{% endblock %}