{% extends "entries/base.html" %}
{% load staticfiles %}

{% block content %}

        {% if registered %}
        Rango says: <strong>thank you for registering!</strong>
        <a href="/">Return to the homepage.</a><br />
        {% else %}
        <form id="user_form" method="post" action="/register/" enctype="multipart/form-data">
        {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}

{% endblock %}

{% block entryList %}

   <div class="list-group">

   {% for entry in all_entries %}

      <a href="{% url "entry_detail" pk=entry.pk %}" class="list-group-item">{{ entry.title }}</a>
    
    {% endfor %}

    </div>

{% endblock %}