{% extends "entries/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

        <form id="form" method="post" action="{% url "update_entry" pk=entry.pk %}" enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        </form>

        {% if entry.thumbnail %}
                <br/>
                <div class="col-xs-2"><img src='/static/{{entry.thumbnail}}' class='img-responsive'/></div>
        {% endif %}

{% endblock %}

{% block entryList %}

   <div class="list-group">

   {% for entry in all_entries %}

      <a href="{% url "entry_detail" pk=entry.pk %}" class="list-group-item">{{ entry.title }}</a>
    
    {% endfor %}

    </div>

{% endblock %}