{% extends "entries/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
        
        <form id="form" method="post" action="{% url "update_user" %}" enctype="multipart/form-data">{% csrf_token %}
            {{ user_form|crispy }}
            {% if user_profile.avatar %}
                <br/>
                <div class="col-xs-2"><img src='/static/{{user_profile.avatar}}' class='img-responsive'/></div>
            {% endif %}
            {{ profile_form|crispy}}
        <input class="btn btn-default" type="submit" name="submit" value="Submit" />
        </form>


{% endblock %}

{% block entryList %}

   <div class="list-group">

   {% for entry in all_entries %}

      <a href="{% url "entry_detail" pk=entry.pk %}" class="list-group-item">{{ entry.title }}</a>
    
    {% endfor %}

    </div>

{% endblock %}